[submodule "slam"]
	path = slam
	url = https://github.com/vrld/slam.git
[submodule "middleclass"]
	path = middleclass
	url = https://github.com/kikito/middleclass.git
[submodule "SUIT"]
	path = SUIT
	url = https://github.com/SimonLarsen/suit.git
[submodule "lovetoys"]
	path = lovetoys
	url = https://github.com/lovetoys/lovetoys.git
[submodule "tween"]
	path = tween
	url = https://github.com/kikito/tween.lua
